@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --Orange: #fc7614;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  min-height: 100vh;
}

.container {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  color: #fff;
  width: 412px;
  height: 416px;
  padding: 32px 39px 32px 32px;
  border-radius: 30px;
  position: absolute;
  top: 196px;
  left: 50%;
  transform: translateX(-50%);
}

.container .star {
  background-color: #262e38;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container h1 {
  font-size: 28px;
  margin: 32px 0 7px 0;
}

.container p {
  color: var(--light-grey, #969fad);
  font-size: 15px;
  line-height: 24px;
}

.container .ratings-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-block: 29px 32px;
}

.container .rating {
  width: 51px;
  height: 51px;
  background-color: var(--dark-blue);
  color: var(--medium-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.2;
  font-size: 16px;
}

.container .rating.selected {
  background-color: var(--medium-grey);
  color: #fff;
}

.container .rating:hover {
  background-color: var(--Orange);
  color: #fff;
  cursor: pointer;
}

.container .btn {
  background-color: var(--Orange);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  border-radius: 22.5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: inherit;
  
}

.container .btn:hover {
  background-color: #fff;
  color: var(--Orange);
  cursor: pointer;
}

.attribution {
  color: #fff;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 327px;
}

.attribution a {
  color: var(--Orange);
}

.modal-container {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  color: #fff;
  width: 412px;
  height: 416px;
  padding: 45px 40px 45px 32px;
  border-radius: 30px;
  margin-bottom: 30px;
  text-align: center;
  display: none;
}

.modal-container img {
  width: 162px;
  height: 108px;
}

.modal-container .rating-text {
  background-color: var(--dark-blue);
  margin: 32px auto;
  width: 194px;
  padding: 5px 20px;
  font-size: 15px;
  color: var(--Orange);
  border-radius: 22.5px;
  text-align: center;
}

.modal-container h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 7px;
}

.modal-container p {
  font-size: 15px;
  color: var(--light-grey);
  line-height: 24px;
  text-align: center;
}

@media (max-width: 576px) {
  .container {
    width: 327px;
    height: 360px;
    padding: 24px;
  }

  .container .star {
    width: 40px;
    height: 40px;
  }

  .container h1 {
    font-size: 24px;
  }

  .container p {
    font-size: 14px;
  }

  .ratings-container .rating {
    width: 41px;
    height: 41px;
  }

  .container .btn {
    padding: 12px;
  }

  .modal-container {
    width: 327px;
    height: 360px;
    padding: 34px 28px 37px 24px;
  }

  .modal-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .modal-container p {
    font-size: 14px;
    color: var(--light-grey);
    line-height: 22px;
  }

  .modal-container img {
    width: 144px;
    height: 96px;
  }

  .modal-container .rating-text {
    background-color: var(--dark-blue);
    margin: 24px auto 29px auto;
    width: 168px;
    padding: 5px 12px;
    font-size: 14px;
    color: var(--Orange);
    border-radius: 22.5px;
    text-align: center;
  }
}
